* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

#victory {
    display: none;
    text-align: center;
    position: absolute;
    font-size: 24px;
    top: 10%;
    height: 63%;
    width: 100%;
    background-color: black;
    color: white;
}

#victory-text,
#victory-gif,
#victory-score {
    margin: 10px 0px;
}

.button {
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    color: black;
    display: absolute;
}

#board {
    display: flex;
    justify-content: center;
}

.slot-container {
    width: 70px;
    height: 70px;
    background-color: white;
}

.slot {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 1px;
    background-color: black;
}

.player-1 {
    background-image: url(red.png);
}

.player-2 {
    background-image: url(blue.png);
}

.battle-container {
    display: flex;
    justify-content: space-between;
}

.blue-container {
    width: 210px;
    height: 210px;
    display: flex;
}

.blue-image img {
    height: 150px;
    width: 150px;
}

.blue-image img.attack {
    animation-duration: 1s;
    animation-name: slidetoleft;
}

.red-container {
    width: 210px;
    height: 210px;
    display: flex;
}

.red-image img {
    height: 150px;
    width: 150px;
}

.red-image img.attack {
    animation-duration: 1s;
    animation-name: slidetoright;
}

@keyframes slidetoright {
    from {
        margin-left: 0%;
        width: 100%;
    }

    to {
        margin-left: 480%;
        width: 100%;
    }
}

@keyframes slidetoleft {
    from {
        margin-left: 0%;
        width: 100%;
    }

    to {
        margin-left: -500%;
        width: 100%;
    }
}
